{% extends 'base/base.html' %}

{% block body %}
    <img src="{{ recipe.photo }}" alt="{{ recipe.name }}" width="200px" height="200px">
    Adicionado por: {{ recipe.user_add }} em {{ recipe.date_add|date:"d/m/Y" }} <br>
    Nome: {{ recipe.name }} <br>
    Descrição: {{ recipe.description }} <br>
    Tempo de preparo: {{ recipe.prepare_time }}, Rendimento: {{ recipe.income }} <br> <br>
    Ingredientes: <br>
    <ul>
        {% for ingredient in recipe.get_ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    Preparo: <br>
    {{ recipe.preparation }}



{% endblock body %}