<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-6"
             ng-repeat="recipe in recipes"
                ng-click="openProduct($index)">
            <div class="row">
                <div class="col-md-12">
                    <a title="{[{recipe.name}]}" href="#">
                        <img class="thumbnail img-responsive" ng-src="{[{recipe.photo}]}">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <span>{[{recipe.name}]}</span>
                    </h3>
                </div>
            </div>
                <div class="col-md-offset-4 col-md-4">
                    <label>
                        Tem
                        <span class="label label-success">{[{ recipe.count_have }]}</span>
                    </label>
                </div>

                <div class="col-md-4">
                    <label>
                        Falta
                        <span class="label label-danger">{[{ recipe.count_no_have }]}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
