.w1h1 {
    width: 100vw;
    height: calc(100vh - 90px);
}

.put-in-center {
    width: 100vw;
    vertical-align:middle;
    text-align:center;
    color: #000;
    text-decoration: none;
}

.put-in-center.put-in-center-height {
    height: calc(100vh - 90px);
    display: table-cell;
}

.title-style{
    font-family: cursive;
    font-size: 48px;
}

.tags-style {
    height: 50px;
    display: inline;
    font-family: initial;
    font-size: 25px;
    width: 50%;
}

.tags-style-sm {
    display: inline;
    width: 50%;
}

.btn-x{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50%;
}

.btn-x:hover{
    border-radius: 50%;
    color: #fff;
    background-color: #9e9e9e;
    border-color: #adadad;
}

.btn-default:hover{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.margin-5{
    margin: 5px;
}

