{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'components/firstSearch/firstSearch.css' %}" />
    <link rel="stylesheet" href="{% static 'components/listProducts/listProducts.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% static 'js/controllers/homeCtrl.js' %}"></script>
    <script>
        window.csrf_middleware = "{{ csrf_token }}";
    </script>
    <script src="{% static 'components/firstSearch/firstSearch.js' %}"></script>
    <script src="{% static 'components/listProducts/listProducts.js' %}"></script>
{% endblock %}
{% block body %}
    <div ng-controller="homeCtrl" class="w1h1 medium">
        <first-search ingredients="ingredients" recipes="recipes" small="small"></first-search>
        <list-products ng-show="small" recipes="recipes"></list-products>
    </div>
{% endblock %}