

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="page-header">
                {[{ openproduct.name }]}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            <a href="#">
                <img class="img-responsive" ng-src="{[{openproduct.photo}]}" alt="" style="max-width: 285px; max-height: 213">
            </a>
            <button class="btn btn-danger margin" ng-click="like()">
                <i class="glyphicon glyphicon-heart"></i>
                Like
            </button>
            <button class="btn btn-warning margin" ng-click="favoritos()">
                <i class="glyphicon glyphicon-star"></i>
                Favoritos
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">O que tenho</h3>
                </div>
                <ul ng-repeat="ingredient in openproduct.ingredients_in">
                    <li class="padding-10">{[{ ingredient }]}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="panel-title" id="panel-title">O que falta</h3>
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn-xs btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i> Pedir ajuda
                            </a>
                        </div>
                    </div>
                </div>
                <ul ng-repeat="ingredient in openproduct.ingredients_out">
                    <li class="padding-10">{[{ ingredient }]}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Como prepara</h3>
                </div>
                <ul ng-repeat="make in openproduct.preparation track by $index">
                    <li class="padding-10">{[{ make }]}</li>
                </ul>
            </div>
        </div>
    </div>
</div>